<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat version-1 </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

  

</head>
<body>
<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${username}"></span>
            <a th:href="@{/logout}">Покинуть чат</a>
        </div>
        <h3>Chat version - 1</h3>
    </div>

    <hr/>
    <table>
        <tr>
            <td>
                <table>
                    <caption>Пользователи</caption>
                <th:block th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.nicName}">...</td>
                    </tr>

            
                </th:block>
                </table>
            </td>
            <td>
                <table>
                    <caption>Сообщения</caption>
                    <th:block th:each="message : ${messages}">
                        <tr>
                            <td th:text="${message.user}">...</td>
                            <td th:text="${message.content}">...</td>
                        </tr>
                    </th:block>
                </table>
            </td>
        </tr>
    </table>



    <form action = "setMessage" th:action="@{/setMessage}" th:object="${chatMessage}"  method="POST">
        <input type="text" th:field="*{content}" />

        <input type="submit" value="submit" />
    </form>
</div>



</body>
</html>